*.o
*.d
*.tfrecord
*.flac
*.zip
*.tar.gz
*.tgz
*.trn
*.txt
*.lm
*.pyc
*.pk
*.wav
nnse/python/data/*tfrecords*.csv
evb/src/weights
evb/build
python/fix.py
python/wavs
python/mel_org.py
python/wavewrite_example.py
python/models_trained
python/tfrecord
python/tfrecords
